<h2>Contact Us</h2>
<p><%= website_url_formatted_name %> welcomes your feedback.  If you have any questions or would like further information, please contact us as follows </p>
<p>E-mail: <%= website_contact_email %></p>