	<div data-role="header">
            <h1><%= website_plain_english_formatted_name.upcase %></h1>
	</div><!-- /header -->
        <div class="ui-bar ui-bar-b centre">
            <h3>EVERY SPORT.  EVERY CHANNEL.</h3>
        </div>
	<div data-role="content">
            <% if !@regions.nil? %>
            <p><%= website_plain_english_formatted_name %> provides sports guide information for the following regions:</p>
                <ul data-role="listview" data-inset="true" data-theme="g">
                  <% @regions.each do |region| %>
                    <li><%= link_to region.name, URI.escape("/"+region.name+"/") %></li>      
                  <% end %>
                </ul>   
            <% end %>
	</div><!-- /content -->
	<div data-role="footer">
		<h4>Desktop | Mobile</h4>
	</div><!-- /footer -->
