/* The main CSS file */

.centre{
    text-align:center;
}
.dark-cyan{
    color: #008B8B;
}

.mobile_banner_advertisment{
    padding-top: 4px;
}

.wrap-heading-override{
    white-space: normal;
}